html, body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    font-family: 'Press Start 2P', cursive;
}

p {
    padding: 0;
    margin: 0;
}

#cadre {
    background-image: url("../img/fond.png");
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    background-size: cover;
    position: absolute;
    border: 1px solid black;
    width: 750px;
    height: 500px;
    overflow: hidden;
}

#menu {
    position: absolute;
    background-color: black;
    opacity: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#menu h1 {
    color: brown;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

#selection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 75px;
}

#selection p {
    padding: 20px;
    display: flex;
    justify-content: center;
}

#start, #vie {
    color: white;
    padding: 15px;
}

#curseur {
    background-repeat: no-repeat;
    position: absolute;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    pointer-events: none;
    display: none;
}

#curseur img{
    position: absolute;
    top: -22px;
    left: -25px;
    height: 75px;
    width: 75px;
}

#bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background-color: black;
}

.info {
    width: auto;
    font-size: 1em;
    padding: 5px;
    display: flex;
    align-items: center;
    color: white;
    pointer-events: none;
}

.zone_jeu {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    width: 100%;
    height: 19%;
    z-index: 10;
}

.zone_jeu  > div {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.objetFeu {
    height: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

img {
    height: 80%;
}

#pompier {
    height: 100%;
}

